/* fuente de google */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

/* Media Queries */

* {
    margin: 0;
    padding: 0;
}

body {
    /* Ancho */
    width: 100vw;
    /* Altura */
    height: auto;
    /* Característica que hace respetar las dimensiones */
    box-sizing: border-box;
    /* Color de Fondo */
    background-color: var(--backgroundColor);
    font-family: var(--tipography);
    /* si el contenido sobresale, me quita el scroll horizontal (x) */
    overflow-x: hidden;

}


/* variables */

:root {
    --primaryColor: #0D2F73;
    --secondaryColor: darkgoldenrod;
    --tertiaryColor: darkkhaki;
    --backgroundColor: #F2F2F2;
    --textColor: #0D2F73;
    --tipography: 'Montserrat Alternates', sans-serif;
}

/* Menú Navegación */

.encabezado {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60px;
    background-color: var(--primaryColor);
}

.encabezado img {
    width: 5%;
    height: auto;
}

/* este es para  el funcionamiento y el ícono del menú */

.icono-menu-nav {
    position: absolute;
    top: 17px;
    right: 30px;
    z-index: 1;
    cursor: pointer;
}

.material-symbols-outlined {
    width: 27px;
    color: var(--tertiaryColor);
    background-color: var(--primaryColor);
    border-radius: 25%;
    border-style: solid;
    border-color: var(--tertiaryColor);
}

header input {
    display: none;
}

header input:not(:checked)+nav {
    transform: translateY(0px);
    transition: all 1000ms ease-in-out;
}

header input:checked+nav {
    background-color: var(--primaryColor);
    gap: 10px;
    padding: 5px;
    transform: translateY(-200%);
    transition: all 1000ms ease-in-out;
}

.encabezado a {
    text-decoration: none;
    color: var(--tertiaryColor);
    font-size: 20px;
    padding: 15px;
}

header a:hover {
    background-color: var(--tertiaryColor);
    border-radius: 15px;
    color: var(--primaryColor);
}

#pf {
    border-bottom: 7px solid var(--secondaryColor);
    border-radius: 15px;
    margin-bottom: 2px;
}

/* INICIO PERFIL PROFESIONAL */


.experienciaLab {
    background-color: #f2f2f2a6;
    border-color: var(--primaryColor);
    border-radius: 10px;
    width: 95vw;
    height: auto;
    gap: 50px;
    margin: 5px auto;
    padding: 30px;
    font-size: x-large;
    color: var(--textColor);
}

.inicioPerfil {
    text-align: center;
    align-content: center;
}

.inicioPerfil h2 {
    font-size: 50px;
    color: var(--secondaryColor);
}

.trabajos {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    color: var(--secondaryColor);
    margin: 20px;
}

/* FORMATOS DE LAS IMÁGENES */

#scotia {
    width: 15vw;
    border-radius: 20px;
}

#TIS {
    width: 18vw;
    border-radius: 70px;
}

#spotify {
    width: 20vw;
    border-radius: 50%;
}

/* IDIOMAS */

.idioma {
    display: flex;
}

.idioma {
    justify-content: center;
    align-items: center;
}

/* texto de linkedin */

.LinkedIn {
    background-color: var(--primaryColor);
    border-radius: 10px;
    color: var(--tertiaryColor);
    text-align: center;
    align-content: center;
}

/* Imagen de linkedin */

#linkedin {
    width: 60px;
}

/* Portafolio Proyectos */

.proyectosTrabajados {
    margin: 30px;
    text-align: center;
}

.proyectosestudio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.portafolioImg {
    max-width: 200px;
    border-radius: 30px;
}

.proyectosestudio iframe {
    border-radius: 30px;
}



/* Lenguajes */ 

.lenguajes{
    text-align: center;
}

.logosHyC {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logosHyC img {
    width: 150px;
}

#css3 {
    width: 175px;
}


/* Footer */

.pie-de-pagina {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 50px;
}

.descripcion-foot {
    border-color: aliceblue;
    color: var(--tertiaryColor);
    text-align: center;
    font-size: 20px;
}

.logosContacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.logosContacto img {
    width: 70px;
}

/* Media Querie para Tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        /* Ancho */
        width: 100vw;
        /* Altura */
        height: auto;
        /* Característica que hace respetar las dimensiones */
        box-sizing: border-box;
        /* Color de Fondo */
        background-image: url("/assets/bgmovil.jpeg");
        background-repeat: no-repeat;
        font-family: var(--tipography);
        /* si el contenido sobresale, me quita el scroll horizontal (x) */
        overflow-x: hidden;

    }

    .encabezado {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100vw;
        height: 80px;
        background-color: var(--primaryColor);
        z-index: 1;
    }

    .icono-menu-nav {
        position: absolute;
        top: 17px;
        right: 30px;
        z-index: 2;
        cursor: pointer;
    }

    /* este es el icono del menú */

    .material-symbols-outlined {
        width: 30px;
        height: 30px;
        color: var(--tertiaryColor);
        background-color: var(--primaryColor);
        border-radius: 25%;
        border-style: solid;
        border-color: var(--tertiaryColor);
        cursor: pointer;
    }

    header input {
        display: none;
    }

    header input:not(:checked)+nav {
        transform: translateY(-200%);
        transition: all 1000ms ease-in-out;
    }

    header input:checked+nav {
        background-color: var(--primaryColor);
        gap: 5px;
        padding: 10px;
        transform: translateY(0px);
        transition: all 1000ms ease-in-out;
    }

    .encabezado a {
        text-decoration: none;
        color: var(--tertiaryColor);
        font-size: 20px;
        padding: 10px;
    }

    header a:hover {
        background-color: var(--tertiaryColor);
        border-radius: 15px;
        color: var(--primaryColor);
    }

    #pf {
        border-bottom: 7px solid var(--secondaryColor);
        border-radius: 15px;
        margin-bottom: 2px;
    }

    /* Inicio de experiencia Laboral */


    .experienciaLab {
        background-color: #f2f2f2a6;
        border-color: var(--primaryColor);
        border-radius: 10px;
        width: 87vw;
        height: auto;
        gap: 50px;
        margin: auto;
        padding: 30px;
        font-size: xx-large;
        color: var(--textColor);
    }

    .inicioPerfil {
        text-align: center;
        align-content: center;
    }

    .inicioPerfil h2 {
        font-size: 35px;
        color: var(--secondaryColor);
    }

    .trabajos {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-size: 3vw;
        color: var(--secondaryColor);
        margin: 20px;
    }

    /* FORMATOS DE LAS IMÁGENES */

    #scotia {
        width: 15vw;
        border-radius: 20px;
    }

    #TIS {
        width: 18vw;
        border-radius: 70px;
    }

    #spotify {
        width: 20vw;
        border-radius: 50%;
    }

    /* IDIOMAS */

    .idioma {
        display: flex;
    }

    .idioma {
        justify-content: center;
        align-items: center;
    }

    /* texto de linkedin */

    .LinkedIn {
        background-color: var(--primaryColor);
        border-radius: 10px;
        color: var(--tertiaryColor);
        text-align: center;
        align-content: center;
    }

    /* Imagen de linkedin */

    #linkedin {
        width: 60px;
    }

    /* Portafolio y proyectos */

    .proyectosTrabajados {
        margin: 30px;
        text-align: center;
    }

    .proyectosestudio {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .portafolioImg {
        max-width: 450px;
        border-radius: 30px;
    }

    .proyectosestudio iframe {
        border-radius: 30px;
    }





    /* Pie de página */

    .pie-de-pagina {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: auto;
        background-color: var(--primaryColor);
        padding: 20px;
        gap: 20px;
    }

    .descripcion-foot {
        border-color: aliceblue;
        color: var(--tertiaryColor);
        text-align: center;
        font-size: 17px;
    }

    .logosContacto {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .logosContacto img {
        width: 80px;
    }
}

/* Media Querie para teléfonos móviles */

@media screen and (max-width: 768px) {

    body {
        /* Ancho */
        width: 100vw;
        /* Altura */
        height: auto;
        /* Característica que hace respetar las dimensiones */
        box-sizing: border-box;
        /* Color de Fondo */
        background-image: url("/assets/bgmovil.jpeg");
        background-repeat: no-repeat;
        font-family: var(--tipography);
        /* si el contenido sobresale, me quita el scroll horizontal (x) */
        overflow-x: hidden;

    }

    .encabezado {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100%;
        background-color: var(--primaryColor);
        z-index: 2;
    }

    .encabezado img {
        width: 70vw;
        height: auto;
    }

    .icono-menu-nav {
        position: absolute;
        top: 17px;
        right: 30px;
        z-index: 3;
        cursor: pointer;
    }

    /* este es el icono del menú */

    .material-symbols-outlined {
        width: 30px;
        color: var(--tertiaryColor);
        background-color: var(--primaryColor);
        border-radius: 25%;
        border-style: solid;
        border-color: var(--tertiaryColor);
    }

    header input {
        display: none;
    }

    header input:not(:checked)+nav {
        transform: translateY(-200%);
        transition: all 1000ms ease-in-out;
    }

    header input:checked+nav {
        background-color: var(--primaryColor);
        gap: 10px;
        padding: 5px;
        transform: translateY(0px);
        transition: all 1000ms ease-in-out;
    }

    .encabezado a {
        text-decoration: none;
        color: var(--tertiaryColor);
        font-size: 20px;
        padding: 15px;
    }

    header a:hover {
        background-color: var(--tertiaryColor);
        border-radius: 10px;
        color: var(--primaryColor);
    }

    #pf {
        border-bottom: 7px solid var(--secondaryColor);
        border-radius: 15px;
        margin-bottom: 2px;
    }


    /* Inicio de experiencia Laboral */


.experienciaLab {
    background-color: #f2f2f2a6;
    border-color: var(--primaryColor);
    border-radius: 10px;
    width: 87vw;
    height: auto;
    gap: 50px;
    margin: auto;
    padding: 30px;
    font-size: large;
    color: var(--textColor);
}

.inicioPerfil {
    text-align: center;
    align-content: center;
}

.inicioPerfil h2 {
    font-size: 35px;
    color: var(--secondaryColor);
}

.trabajos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 3.5vw;
    color: var(--secondaryColor);
    margin: 10px auto;
    row-gap: 1px;
    column-gap: 5px;
}

/* Ubicación de los textos en grid*/


/* FORMATOS DE LAS IMÁGENES */

#scotia {
    width: 20vw;
    border-radius: 20px;
}

#TIS {
    width: 24vw;
    border-radius: 70px;

}

#spotify {
    width: 29vw;
    border-radius: 50%;
}

/* IDIOMAS */

.idioma {
    display: flex;
    flex-direction: column;
}

.idioma {
    justify-content: center;
    align-items: center;
}

/* texto de linkedin */

.LinkedIn {
    background-color: var(--primaryColor);
    border-radius: 10px;
    color: var(--tertiaryColor);
    text-align: center;
    align-content: center;
}

/* Imagen de linkedin */

#linkedin {
    width: 60px;
}

/* Portafolio y proyectos */

.proyectosTrabajados {
    margin: 30px;
    text-align: center;
}

.proyectosestudio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.portafolioImg {
    max-width: 250px;
}

.proyectosestudio iframe {
    width: 280px;
    border-radius: 30px;
}

    /* Pie de página */

    .pie-de-pagina {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: auto;
        background-color: var(--primaryColor);
        padding: 20px;
        gap: 20px;
    }

    .descripcion-foot {
        border-color: aliceblue;
        color: var(--tertiaryColor);
        text-align: center;
        font-size: 10px;
    }

    .logosContacto {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .logosContacto img {
        width: 50px;
    }


}